%div{ class: "password_reset_div_form" }
  %div{ class: "password_reset_div_form_panel panel panel-default" }
    %div{ class: "panel-heading" }
      %h1{ class: "panel-title" } Reset Password
    %div{ class: "panel-body" }
      - if @user.errors.any?
        %div{ class: "alert-danger alert error_explanation" }
          %ul
            - @user.errors.full_messages.each do |message|
              %li 
                = message
      = form_for @user do |f|  
        %div{ class: "form-group" }
          = f.password_field(:password, class: 'form-control', placeholder: 'Password', minlength: 3, maxlength: 15, required: true, autofocus: true) 
        %div{ class: "form-group"}
          = f.password_field(:password_confirmation, class: 'form-control', placeholder: 'Password Confirmation', minlength: 3, maxlength: 15,, required: true)
        = submit_tag("Update Password", class: "btn btn-default")
        = link_to("Cancel", new_user_sessions_path, class: "btn btn-default")