%div{ class: "password_reset_sent_div_form" }
  %div{ class: "password_reset_sent_div_form_panel panel panel-default" }
    %div{ class: "panel-heading" }
      %h1{ class: "panel-title" } Reset Password
    %div{ class: "panel-body" }
      - if alert.present?
        %div{ class: "alert-danger alert error_explanation"}
          = flash[:alert]
      = form_tag password_resets_path, method: :post do  
        %div{ class: "form-group input-group" }
          %span{ class: "input-group-addon"} @
          = text_field_tag(:email, params[:email], type: "email", class: "form-control", placeholder: "Email", required: true, autofocus: true)
        = submit_tag("Reset Password", class: "btn btn-default")
        = link_to("Cancel", new_user_sessions_path, class: "btn btn-default")