%div{ class: "users_div_form" }
  %div{ class: "users_div_form_panel panel panel-default" }
    %div{ class: "panel-heading" }
      %h1{ class: "panel-title" } Sign up
    %div{ class: "panel-body" }
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!
        %div{ class: "form-group" }
          = f.text_field(:full_name, class: 'form-control',  placeholder: 'Full Name', minlength: 2, maxlength: 70, required: true, autofocus: true)

        %div{ class: "form-group input-group input-group" }
          %span{ class: "input-group-addon"} @
          = f.email_field(:email, type: "email", class: 'form-control', placeholder: 'Email', minlength:5, maxlength: 70)

        %div{ class: "form-group"}
          - if @minimum_password_length
            %em
              = "(#{@minimum_password_length} characters minimum)"
            = f.password_field(:password, class: 'form-control', placeholder: 'Password', minlength: 3, maxlength: 15)

        %div{ class: "form-group"}
          = f.password_field(:password_confirmation, class: 'form-control', placeholder: 'Password Confirmation', minlength: 3, maxlength: 15,  autocomplete: "off")

        %div{ class: "form-group"}
          = f.submit(class: 'btn btn-default', value:"Sign up")

      = render "devise/shared/links"
