%section{ class: "div_lists container-fluid" }
  %div.incomes_div_list
    %div{ class: "table_list panel panel-default" }
      %div{ class: "panel-heading" }
        %h1{ class: "panel-title" } Incomes
      %div{ class: "panel-body" } 
        = form_tag(search_between_dates_incomes_path, method: :get, remote: true) do
          %div{class: "form-inline" }
            = label_tag(:input_income_from_date, "From") 
            = text_field_tag(:from_date_income,  params[:from_date_income], type: "date", id: :input_income_from_date, class: "form-control")
            = label_tag(:input_income_to_date, "To") 
            = text_field_tag(:to_date_income,  params[:to_date_income], type: :date, id: :input_income_to_date, class: "form-control")
            = submit_tag("Filter", class: "btn btn-default")
            = link_to('All Incomes', all_incomes_path, remote: true, id: :all_incomes_link)
        %div.income_list_content
          = render 'incomes/income_list'
     
  %div{ class: "expenses_div_list" }
    %div{ class: "table_list panel panel-default" }
      %div{ class: "panel-heading" }
        %h1{ class: "panel-title" } Expenses
      %div{ class: "panel-body" } 
        = form_tag(search_between_dates_expenses_path, method: :get, remote: true) do
          %div{class: "form-inline" }
            = label_tag(:input_income_from_date, "From") 
            = text_field_tag(:from_date_expense, params[:from_date_expense], type: "date", id: :input_expense_to_date, class: "form-control")
            %label 
              To:
            = text_field_tag(:to_date_expense, params[:to_date_expense], type: "date", id: :input_expense_to_date, class: "form-control")
            = submit_tag("Filter", class: "btn btn-default")
            = link_to('All Expenses', all_expenses_path, remote: true, id: :all_expenses_link)
        %div.expense_list_content
          = render 'expenses/expense_list'  
%section{ class: "div_result_value container-fluid" }
  = render 'home/balance'