- if @expenses.expenses.empty?
  No expense found.
- else
  %div{ class: "expense_list" }
    %ul{ class: "list-group" }
      - @expenses.expenses.each do |expense|
        %li{ class: "item_list list-group-item" }
          %p
            %label Description:
            %span= expense.description
          %p
            %label Expiration Date:
            %span= expense.expiration_date
          %p
            %label Value:
            %span
            %span= to_currency(expense.value)
          %p
            %label Paid?:
            %span= expense.paid?
          %p
            = link_to('Edit', edit_expense_path(expense), class: "btn btn-default")
            = link_to('Delete', expense_path(expense), method: :delete, class: "btn btn-default", data: {confirm: 'Delete the expense?'})
  %div{ class: "total_expense_div" }
    %label Total: 
    %span= to_currency($total_expenses)
